.analysis_hero.hero-body {
  padding-top: 0;
}

.analysis_hero .box {
  width: 100%;
  background-image: url('../img/circle.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.analysis__content.columns {
  margin: 0;
  padding: 0 10px;
}

.analysis__content-cardswebpages.box,
.analysis__content-cardaside .box {
  background-color: rgba(255, 255, 255, 0.5);
}

.analysis__webpagecard.box {
  border-left: 3px solid rgb(34, 124, 160);
}

.analysis__webpagecard .tag {
  margin-left: 5px;
}

.analysis__content-cardaside.column {
  padding-top: 0;
}

.analysis__content-cardaside_box.box {
  padding: 12px;
  text-align: center;
}